body {} .dropDivClass {
    width: 400px;
    height: 200px;
    overflow: auto;
    border: 1px dashed #ccc;
    color: #ccc;
    line-height: 200px;
    text-align: center;
}
@font-face {
    font-family: cheatRead;
    src: url('fonts/UbuntuMono-R.ttf');
}
.dropDivClass.dragover {
    border-color: black;
    color: black;
}
.uploadErrors {
    width: 378px;
    height: 0px;
    overflow: auto;
}
.button-error {
    width: 378px;
    overflow: auto;
    font-size: 12px;
    color: white;
    background: rgb(202, 60, 60);
    /* this is a maroon */
}
.monokaiBody {
    background: #252621;
    color: #f5276c;
}
.normaBody {
    background: white;
    color: black;
}
#uploadWrapper {
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 405px;
    overflow: auto;
}
.hidden {
    display: none;
    height: 0px;
    widows: 0px;
    position: absolute;
}
#playerWrapper {
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 605px;
    overflow: auto;
}
.playerClass {
    overflow: auto;
    border-top: 2px solid #73705d;
    border-bottom: 2px solid #73705d;
    line-height: 100px;
    text-align: center;
    font-family: chatRead;
    font-size: xx-large;
}
.middleSelector{
	position: absolute;
	height: 50px;
	top:0px;
	left:300px;
	width:302px;
	border-left: 2px dashed #73705d;
}
fieldset>legend{
	    color: #f5276c;
}
.middleLetter{
	color:#65d9eb;
	font-size: 140%;
}